astroid==2.9.2
attrs==21.2.0
backports.entry-points-selectable==1.1.1
CacheControl==0.12.10
cachy==0.3.0
# certifi==2021.10.8
charset-normalizer==2.0.10
# cleo==0.8.1
clikit==0.6.2
coverage==6.2
crashtest==0.3.1
distlib==0.3.4
filelock==3.4.0
html5lib==1.1
idna==3.3
iniconfig==1.1.1
isort==5.10.1
keyring==21.8.0
lazy-object-proxy==1.7.1
lockfile==0.12.2
# lxml==4.7.1
mccabe==0.6.1
msgpack==1.0.3
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
# Pillow==9.0.0
pipenv==2022.1.8
pkginfo==1.8.2
platformdirs==2.4.0
pluggy==1.0.0
poetry==1.1.12
poetry-core==1.0.7
pptx2md==1.0.0
ptyprocess==0.7.0
# py==1.11.0
pylev==1.4.0
pylint==2.12.2
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
python-pptx==0.6.21
PyYAML==6.0
rapidfuzz==1.9.0
# requests==2.27.0
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.16.0
toml==0.10.2
tomli==2.0.0
tomlkit==0.8.0
typing_extensions==4.0.1
unotools==0.3.3
# urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
webencodings==0.5.1
wrapt==1.13.3
XlsxWriter==3.0.2
